
body{
    background-color: #D1BCE3;
}




.MuiToolbar-root {    
    background-color: #3D2B61;
}

.MuiDrawer-docked{

    background-color: #7A56C1;

  }

  .MuiDrawer-paperAnchorLeft{
    background-color: #7A56C1;

  }

.salchichas {
    background-color: #7A56C1;
}  